<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="NoticeDao">
	
	<!-- 총개수 -->
	<select id="cbNoticeTotal" resultType="int">
		select count(*) from notice	
	</select>
	
	<!-- list 화면, paging 처리 -->
	<select id="cbNoticeList" parameterType="noticeDto" resultType="noticeDto">
		select *
		from(
			SELECT rownum rn ,  a.*
		    FROM  (select * from notice order by n_no DESC) a
		)
		where rn between #{start} AND  #{end}  <!--  between 는 >=를 의미 -->
	</select>
	
	<!-- 상세보기 -->
	<select id="cbNoticeDetail" parameterType="int" resultType="noticeDto">
		select * from notice where n_no = #{n_no}
	</select>
	
	<!-- 조회수 증가 -->
<!-- 	<update id="cbNoticeHit">
		update notice SET n_hit=n_hit+1 where n_no=#{n_no}
	</update> -->
	
	<!-- 수정화면보기 -->
	<select id="cbNoticeContent" parameterType="int" resultType="noticeDto">
		select * from notice where n_no = #{n_no}	
	</select>
	
	<!-- 수정완료 -->
	<update id="cbNoticeUpdate" parameterType="noticeDto" >
		 update notice set n_title=#{n_title}, n_content=#{n_content}	               
		 where n_no=#{n_no}
	</update>
	
	<!-- 쓰기저장완료 -->
	<insert id="cbNoticeWrite" parameterType="noticeDto">
		insert into notice(n_no, id, n_title, n_content )values(NOTICE_N_NO_SEQ.nextval, #{id}, #{n_title}, #{n_content} )
	</insert>
	
	<!-- 삭제 -->
	<delete id="cbNoticeDelete" parameterType="noticeDto">
		delete from notice where n_no=#{n_no}
	</delete>
	
	
	
</mapper>

